$font-color: #033318;
$font-alternative-color: #4FAA69;
$accent-color: #ee6c4d;
$background-color: #F0FEF6;
$background-alternative-color-gr: #87CCA5;
$background-alternative-color-mrkareg: #1B663B;
$background-alternative-color-green: #87cca590;

