$font-color: #D0D2F5;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #02042a;
$background-alternative-color-darkblue:#40448F ;
$background-alternative-color-main: #171a5c85;
$background-alternative-color-vit: white;
$background-alternative-color-nav: #030533;



