{# {% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallery">
            {{ content }}

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html> #}
