{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="single-technology">
            <div class="side-bar">
                <h2>Meny</h2>
                <ul>
                    <li>
                        <a href="hej"> HTML</a>
                    </li>
                    <li>
                        <a href="css">CSS</a>
                    </li>
                    <li>
                        <a href="js">JS</a>
                    </li>
                    <li>
                        <a href="php">php</a>
                    </li>
                    <li>
                        <a href="php">GIT</a>
                    </li>
                    <li>
                        <a href="php">SQlite</a>
                    </li>
                    <li>
                        <a href="php">Python</a>
                    </li>
                </ul>


            </div>
            <div class="tech-content">
                {{ content }}
            </div>

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
{# {{ content }} #}
